.cover
  position: fixed
  left: 0
  top: 0
  z-index: 9999
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.6)
  .slot
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    