@import '../../common/stylus/mixin.styl'

.header
  height: 100px
  overflow: hidden
  margin: 0 30px
  border-1px(grey)
  h1.title
    float: right
    line-height: 100px
    font-size: 24px
    margin-right: 40px